include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include compose.yaml
recursive-include examples *.json *.onnx
recursive-include docs *.gif *.md *.png
recursive-include docker *
recursive-include scripts *.py
recursive-include tests *.py
